<?xml version="1.0" encoding="UTF-8"?>
<ServiceExceptionReport version="{{{version}}}" xmlns="http://www.opengis.net/ogc"><ServiceException code="{{{code}}}">{{{message}}}</ServiceException></ServiceExceptionReport>
