<?xml version="1.0" encoding="UTF-8" ?>
<Capabilities xmlns="http://www.opengis.net/wmts/1.0" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="{{version}}" updateSequence="{{updateSequence}}">
  <ows:ServiceIdentification>
    <ows:Title>{{{title}}}</ows:Title>
    <ows:Abstract>{{{abstract}}}</ows:Abstract>
    <ows:ServiceType codeSpace="OGC">WMTS</ows:ServiceType>
    <ows:ServiceTypeVersion>{{version}}</ows:ServiceTypeVersion>
  </ows:ServiceIdentification>
  <ows:OperationsMetadata>
    <ows:Operation name="GetCapabilities">
      <ows:DCP>
        <ows:HTTP>
          <ows:Get xlink:href="{{{capabilitiesURL}}}">
            <ows:Constraint name="GetEncoding">
              <ows:AllowedValues>
                <ows:Value>KVP</ows:Value><ows:Value>RESTful</ows:Value>
              </ows:AllowedValues>
            </ows:Constraint>
          </ows:Get>
        </ows:HTTP>
      </ows:DCP>
    </ows:Operation>
    <ows:Operation name="GetTile">
      <ows:DCP>
        <ows:HTTP>
          <ows:Get xlink:href="{{{capabilitiesURL}}}">
            <ows:Constraint name="GetEncoding">
              <ows:AllowedValues>
                <ows:Value>KVP</ows:Value><ows:Value>RESTful</ows:Value>
              </ows:AllowedValues>
            </ows:Constraint>
          </ows:Get>
        </ows:HTTP>
      </ows:DCP>
    </ows:Operation>
  </ows:OperationsMetadata>
  <Contents>
    {{#each layers}}
    <Layer>
      <ows:Title>{{{title}}}</ows:Title>
      <ows:Abstract>{{{abstract}}}</ows:Abstract>
      <ows:Identifier>{{{identifier}}}</ows:Identifier>
      <ows:WGS84BoundingBox crs="urn:ogc:def:crs:OGC:2:84">
        <ows:LowerCorner>{{bbox.[0]}} {{bbox.[1]}}</ows:LowerCorner>
        <ows:UpperCorner>{{bbox.[2]}} {{bbox.[3]}}</ows:UpperCorner>
      </ows:WGS84BoundingBox>
      <Style isDefault="true">
        <ows:Identifier>default</ows:Identifier>
        <ows:Title>Default</ows:Title>
      </Style>
      {{#each formats}}
      <Format>{{{mime}}}</Format>
      {{/each}}
      {{#each matrixSetLinks}}
      <TileMatrixSetLink>
        <TileMatrixSet>{{{identifier}}}</TileMatrixSet>
        <TileMatrixSetLimits>
          {{#each limits}}
          <TileMatrixLimits>
            <TileMatrix>{{{identifier}}}</TileMatrix>
            <MinTileRow>0</MinTileRow>
            <MaxTileRow>{{maxTileRow}}</MaxTileRow>
            <MinTileCol>0</MinTileCol>
            <MaxTileCol>{{maxTileCol}}</MaxTileCol>
          </TileMatrixLimits>
          {{/each}}
        </TileMatrixSetLimits>
      </TileMatrixSetLink>
      {{/each}}
      {{#each resources}}
      <ResourceURL format="{{{mime}}}" resourceType="tile" template="{{{template}}}"/>
      {{/each}}
    </Layer>
    {{/each}}
    {{#each matrixSets}}
    <TileMatrixSet>
      <ows:Title>{{{title}}}</ows:Title>
      <ows:Identifier>{{{identifier}}}</ows:Identifier>
      <ows:SupportedCRS>{{{supportedCRS}}}</ows:SupportedCRS>
      {{#each matrices}}
      <TileMatrix>
        <ows:Identifier>{{identifier}}</ows:Identifier>
        <ScaleDenominator>{{scaleDenominator}}</ScaleDenominator>
        <TopLeftCorner>{{topLeft.[0]}} {{topLeft.[1]}}</TopLeftCorner>
        <TileWidth>{{tileSize}}</TileWidth>
        <TileHeight>{{tileSize}}</TileHeight>
        <MatrixWidth>{{matrixWidth}}</MatrixWidth>
        <MatrixHeight>{{matrixHeight}}</MatrixHeight>
      </TileMatrix>
      {{/each}}
    </TileMatrixSet>
    {{/each}}
  </Contents>
  <ServiceMetadataURL xlink:href="{{{capabilitiesURL}}}"/>
</Capabilities>
